<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>TurboReady Demos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200 dark:bg-gray-800">
    <%= ui :navbar %>

    <div class="flex overflow-hidden pt-16 bg-gray-50 dark:bg-gray-900">
      <%= ui :sidebar %>

      <div id="main-content" class="overflow-y-auto relative w-full h-full bg-gray-50 dark:bg-gray-900">
        <main>
          <%= yield :breadcrumbs %>
          <%= yield %>
        </main>
      </div>
    </div>

   <%= ui :footer %>

    <script type="text/javascript">
      window.TailwindDefaults = <%= tailwind_defaults.to_json.html_safe %>;
    </script>
  </body>

</html>
