<!DOCTYPE html>
<html>
  <head>
    <title>TurboReady Demos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-white dark:bg-gray-900">
    <div class="w-full h-full">
      <div class="flex flex-no-wrap">
        <%= ui :sidebar %>

        <div class="container py-10 px-6 mx-auto w-11/12 h-64 md:w-4/5">
          <div class="w-full h-full">
            <%= ui :navbar %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
