<%= tag.aside(class: css("flowbite.sidebar"), tabindex: -1, aria: {labelledby: "sidebar-label", hidden: true}) do %>
  <h5 id="sidebar-label" class="<%= "flowbite.sidebar.label" %>">Demos</h5>

  <button
    type="button"
    data-drawer-dismiss="drawer-navigation"
    aria-controls="drawer-navigation"
    class="<%= css("flowbite.sidebar.close_button") %>"
  >
    <%= ui("heroicons/times") %>
    <span class="sr-only">Close menu</span>
  </button>

  <div class="overflow-y-auto py-4">
    <ul class="space-y-2">
      <li>
        <%= link_to demo_path("invoke"), class: css("flowbite.sidebar.link", "!text-red-500": true) do %>
          <span class="">Invoke</span>
        <% end %>
      </li>
      <li>
        <%= link_to demo_path("assign"), class: css("flowbite.sidebar.link") do %>
          <span class="">Assign</span>
        <% end %>
      </li>
      <li>
        <%= link_to demo_path("dispatch_event"), class: css("flowbite.sidebar.link") do %>
          <span class="">Dispatch Event</span>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
